<template>
  <section class="container" v-if="loaded">
    <div>
      <div class="container-btn" style="margin-bottom: 16px">
        <a-button type="primary" @click="showModal" style="margin-right: 1em">
          Agregar
        </a-button>

        <a-modal v-model:visible="visible" :title="addTitle" :footer="null">
          <a-form
            name="custom-validation"
            ref="formRef"
            :model="formState"
            :rules="rules"
            v-bind="layout"
            @finish="handleFinish"
            @finishFailed="handleFinishFailed"
          >
            <slot />

            <a-form-item
              :wrapper-col="{ span: 12, offset: 7 }"
              class="error-infos"
            >
              <a-button
                key="back"
                @click="handleCancel"
                style="margin-right: 1em"
                >Cancelar</a-button
              >
              <a-button
                key="submit"
                type="primary"
                :loading="loading"
                html-type="submit"
                >Aceptar</a-button
              >
            </a-form-item>
          </a-form>
        </a-modal>

        <a-button
          type="danger"
          :disabled="!hasSelected"
          :loading="loading"
          @click="confirm"
        >
          Eliminar
        </a-button>
      </div>

      <a-table
        :row-selection="{
          selectedRowKeys: selectedRowKeys,
          onChange: onSelectChange,
        }"
        :columns="columns"
        :data-source="data"
        row-key="id"
        :pagination="false"
      />
    </div>
  </section>
  <section v-else>Cargando ...</section>
</template>

<script lang="ts">
import {
  defineComponent,
  toRefs,
  onMounted,
  reactive,
  computed,
  watchEffect,
  ref,
  createVNode,
} from "vue";
import axios from "axios";
import { message, Modal } from "ant-design-vue";
import { ValidateErrorEntity } from "node_modules/ant-design-vue/lib/form/interface";
import { ExclamationCircleOutlined } from "@ant-design/icons-vue";

interface StateProps<T, U> {
  selectedRowKeys: T[];
  loading: boolean;
  loaded: boolean;
  data: U[];
  loadingBtn: boolean;
  visible: boolean;
}

export default defineComponent({
  props: {
    typeObject: {
      type: Object,
      required: true,
    },
    typeIndex: {
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
    url: {
      type: String,
      required: true,
      default: "",
    },
    rules: {
      type: Object,
      required: true,
    },
    formState: {
      type: Object,
      required: true,
    },
    emptyFormState: {
      default: {},
    },
  },
  setup(props) {
    const addTitle = `Agreagar ${props.type}`;
    const delTitle = `Eliminar ${props.type}`;

    type TIndex = typeof props.typeIndex;
    type TObject = typeof props.typeObject;

    const state = reactive<StateProps<TIndex, TObject>>({
      selectedRowKeys: [],
      loading: false,
      loaded: false,
      data: [],
      loadingBtn: false,
      visible: false,
    });

    const formRef = ref();

    const layout = {
      labelCol: { span: 7 },
      wrapperCol: { span: 12 },
    };

    const getData = () => {
      axios
        .get(props.url)
        .then((res) => res.data)
        .then((data) => {
          setTimeout(() => {
            state.data = data;
            state.loaded = true;
          }, 500);
        });
    };

    const deleteData = () => {
      state.loadingBtn = true;
      setTimeout(() => {
        const duration = 2;

        Promise.all(
          state.selectedRowKeys.map((key) => {
            return axios.delete(`${props.url}/${key}`);
          })
        )
          .then(() => {
            const length = state.selectedRowKeys.length;
            const msg = `Se han eliminado ${length} ${transformType.value} satisfactoriamente`;
            message.success(msg, duration);
          })
          .catch(() => {
            message.error("Un error ha ocurrido", duration);
          })
          .finally(() => {
            state.loadingBtn = false;
            state.selectedRowKeys = [];
            getData();
          });
      }, 1000);
    };

    const onSelectChange = (selectedRowKeys: typeof props.typeIndex[]) => {
      state.selectedRowKeys = selectedRowKeys;
    };

    const showModal = () => {
      state.visible = true;
    };

    const resetForm = () => {
      formRef.value.resetFields();
    };

    const handleCancel = () => {
      state.visible = false;
    };

    const handleFinish = (values: Record<string, unknown>) => {
      state.loading = true;
      setTimeout(() => {
        state.loading = false;
        state.visible = false;
        axios
          .post(props.url, values)
          .then(() => {
            message.success(`${capitalizeType.value} creado correctamente`, 3);
            getData();
          })
          .catch(() => message.error("Error interno en el servidor"));
      }, 1500);
    };

    const handleFinishFailed = (
      errors: ValidateErrorEntity<Record<string, unknown>>
    ) => {
      console.log(errors);
    };

    const confirm = () => {
      if (!props) return;

      const length = state.selectedRowKeys.length;

      Modal.confirm({
        title: `¿Estás seguro de eliminar ${length} ${transformType.value}?`,
        icon: createVNode(ExclamationCircleOutlined),
        content: "Una vez realizada esta acción no se podrán hacer cambios",
        okText: "Confirmar",
        okType: "danger",
        cancelText: "Cancelar",
        onOk() {
          deleteData();
          getData();
        },
      });
    };

    const hasSelected = computed(
      (): boolean => state.selectedRowKeys.length > 0
    );
    const howManySelected = computed(
      (): number => state.selectedRowKeys.length
    );

    const transformType = computed((): string => {
      if (state.selectedRowKeys.length === 1) return props.type;
      return `${props.type}s`;
    });

    const capitalizeType = computed((): string => {
      return props.type.trim().replace(/^\w/, (c) => c.toUpperCase());
    });

    watchEffect(() => {
      if (!state.visible && formRef.value) resetForm();
    });

    onMounted(getData);

    return {
      ...toRefs(state),

      getData,
      deleteData,
      hasSelected,
      howManySelected,
      onSelectChange,

      showModal,
      handleCancel,

      addTitle,
      formRef,
      layout,
      handleFinishFailed,
      handleFinish,

      delTitle,
      confirm,
    };
  },
});
</script>
