<template>
  <MTab
    :typeObject="typeObject"
    :typeIndex="typeObject.id"
    :type="type"
    :url="url"
    :columns="columns"
    :rules="rules"
    :formState="formState"
  >
    <a-form-item label="ID" name="id">
      <a-input
        v-model:value="formState.id"
        type="text"
        placeholder="AXIOS"
        autocomplete="off"
      />
    </a-form-item>

    <a-form-item label="Compañía" name="company">
      <a-input
        v-model:value="formState.company"
        type="text"
        autocomplete="off"
      />
    </a-form-item>

    <a-form-item label="Contacto" name="contact">
      <a-input
        v-model:value="formState.contact"
        type="text"
        autocomplete="off"
      />
    </a-form-item>

    <a-form-item label="Título" name="title">
      <a-input v-model:value="formState.title" type="text" autocomplete="off" />
    </a-form-item>

    <a-form-item label="País" name="country">
      <a-select
        v-model:value="formState.country"
        placeholder="Seleccione su país"
      >
        <a-select-option value="USA">Estados Unidos</a-select-option>
        <a-select-option value="UK">Reino Unido</a-select-option>
      </a-select>
    </a-form-item>

    <a-form-item label="Ciudad" name="city">
      <a-select
        v-model:value="formState.city"
        placeholder="Seleccione su ciudad"
      >
        <a-select-option value="Seattle">Seattle</a-select-option>
        <a-select-option value="London">London</a-select-option>
      </a-select>
    </a-form-item>

    <a-form-item label="Código Postal" name="postalCode">
      <a-input
        v-model:value="formState.postalCode"
        type="text"
        autocomplete="off"
      />
    </a-form-item>

    <a-form-item label="Fax" name="fax">
      <a-input v-model:value="formState.fax" type="text" autocomplete="off" />
    </a-form-item>
  </MTab>
</template>

<script lang="ts">
import { defineComponent, reactive, UnwrapRef } from "vue";
import { Customer } from "@/interfaces";
import { ColumnProps } from "node_modules/ant-design-vue/lib/table/interface";

import MTab from "./MTab.vue";

export default defineComponent({
  components: {
    MTab,
  },
  setup() {
    const url = "http://localhost:8081/api/customers";
    const type = "cliente";

    const columns: ColumnProps[] = [
      { title: "ID", dataIndex: "id" },
      { title: "Compañía", dataIndex: "company" },
      { title: "Contacto", dataIndex: "contact" },
      { title: "Título", dataIndex: "title" },
      { title: "País", dataIndex: "country" },
      { title: "Ciudad", dataIndex: "city" },
      { title: "Código Postal", dataIndex: "postalCode" },
      { title: "Fax", dataIndex: "fax" },
    ];

    let typeObject: Customer = {
      id: "",
      company: "",
      contact: "",
      title: "",
      city: null,
      country: null,
      postalCode: "",
      fax: "",
    };

    const formState: UnwrapRef<Customer> = reactive({
      id: "",
      company: "",
      contact: "",
      title: "",
      city: null,
      country: null,
      postalCode: "",
      fax: "",
    });

    const rules = {
      id: [
        {
          required: true,
          message: "Ingrese un ID",
          trigger: "blur",
        },
        {
          whitespace: true,
          message: "Ingrese un ID válido",
          trigger: ["change", "blur"],
        },
        {
          min: 5,
          message: "Debe contener mínimo 5 caracteres",
          trigger: ["change", "blur"],
        },
      ],
      company: [
        {
          required: true,
          message: "Ingrese la compañía",
          trigger: "blur",
        },
        {
          whitespace: true,
          message: "Ingrese la compañía válido",
          trigger: ["change", "blur"],
        },
        {
          min: 3,
          message: "Debe contener mínimo 2 caracteres",
          trigger: ["change", "blur"],
        },
      ],
    };

    return {
      url,
      type,
      typeObject,
      columns,
      formState,
      rules,
    };
  },
});
</script>
